* { margin: 0; padding: 0; list-style-type: none; }


#mid{
	height: 512px;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid;

}

#mid_left{
	height: 462px;
	width: 43%;
	display: inline-block;
	border: 1px solid;
	margin-left: 50px;
	float: left;
}

#mid_right{
	height:462px;
	width: 43%;
	border: 1px solid;
	margin-right: 50px;
	float: right;

}




.sweet{
    font-family: mySweet;
    color:#FF891F;
    font-size: 22px;
    width: 200px;
    margin-left:100px ;
}


